body {
  font-family: sans-serif;
}

.outerbox{
  display: flex;
  justify-content: center;
}

#jsoneditor1,
#jsoneditor2 {
  width: 600px;
  height: 700px;
  margin-right: 10px;
}

.jsoneditor-dragarea {
  display: none;
}
